---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { Projects } from "../components/projects";
import { SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={"Tade치코 Portfolio"} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={"Tade치코"} />
    <main
      class="flex flex-col items-center content-center p-4 max-w-[65ch] m-auto"
    >
      <Projects client:load />
    </main>
    <Footer />
  </body>
</html>
