---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { Projects } from "../components/projects";
import { SITE_DESCRIPTION } from "../consts";

import Homepage from "../components/homepage";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={"Tadeáš Portfolio"} description={SITE_DESCRIPTION} />
    <title>Tadeáš Portfolio</title>
  </head>
  <body>
    <Header title={"Tadeáš"} />
    <main
      class="flex flex-col items-center content-center p-4 max-w-[65ch] m-auto"
    >
      <Homepage client:only />
    </main>
    <Footer />
  </body>
</html>
