---
import HeaderLink from "./HeaderLink.astro";
import { FiGithub } from "react-icons/fi";
import { LuMailPlus } from "react-icons/lu";
---

<header class="flex flex-col items-center mb-2 max-w-65ch text-center">
  <div
    class="inline-flex whitespace-no-wrap text-center m-auto align-bottom text-lg"
  >
    <a href="/" class="mr-2 hover:underline font-extrabold text-lg">
      {"Tadeáš"}
    </a>
    {" curious developer"}
  </div>

  <div class="w-full h-[0.5px] bg-white mt-4 mb-4 max-w-[70ch]"></div>

  <nav>
    <HeaderLink href="https://github.com/osmak1234">
      <FiGithub size={22} />
    </HeaderLink>
    <HeaderLink href="mailto:tadeashanus31@gmail.com">
      <LuMailPlus size={22} />
    </HeaderLink>
  </nav>
</header>
