---
import HeaderLink from "./HeaderLink.astro";
---

<header class="flex flex-col items-center mb-2 max-w-65ch text-center">
  <div
    class="inline-flex whitespace-no-wrap text-center m-auto align-bottom text-lg"
  >
    <a href="/about" class="hover:underline font-extrabold text-lg">
      {"About"}
    </a>
    <p class="text-lg mr-2"></p>
    <a href="/" class="hover:underline font-extrabold text-lg">
      {"Tadeáš"}
    </a>
    {", who builds"}
  </div>

  <div class="h-[0.5px] bg-white mt-4 mb-4 w-[70%]"></div>

  <nav>
    <HeaderLink href="https://github.com/osmak1234">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="26"
        height="26"
        viewBox="0 0 24 24"
        ><g
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1.5"
          ><path
            d="M16 22.027v-2.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7a5.44 5.44 0 0 0-1.5-3.75a5.07 5.07 0 0 0-.09-3.77s-1.18-.35-3.91 1.48a13.38 13.38 0 0 0-7 0c-2.73-1.83-3.91-1.48-3.91-1.48A5.07 5.07 0 0 0 5 5.797a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7a3.37 3.37 0 0 0-.94 2.58v2.87"
          ></path><path d="M9 20.027c-3 .973-5.5 0-7-3"></path></g
        ></svg
      >
    </HeaderLink>
    <HeaderLink href="mailto:tadeas.developer@gmail.com">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="26"
        height="26"
        viewBox="0 0 32 32"
        ><path
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M25 28v-8m-4 4h8m0-15v7m0-7a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2m26 0l-11.862 8.212a2 2 0 0 1-2.276 0L3 9m0 0v14a2 2 0 0 0 2 2h10"
        ></path></svg
      >
    </HeaderLink>
  </nav>
</header>
